.container{
    height: 625px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container form{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container form h1{
    color: #FF4081;
    font-size: 40px;
    font-weight: 700;
}

input, textarea{
    color: #FF4081;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 15px;
}
input:focus, textarea:focus{
    outline: none;
    border: 2px solid #FF4081;
}

.btn-form button{
    border: none;
    color: #FFF;
    background-color: #FF4081;
    border-radius: 50px;
    padding: 10px 40px;
    cursor: pointer;
}