.container-top{
    height: 542px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.container-top img{
    height: 405px;
}

.curso-intro{
    width: 32%;
}

.curso-intro h1{
    color: #FF4081;
    font-size: 55px;
    font-weight: 700;
}

.curso-intro p{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
}

.linha{
    width: 95%;
    height: 3px;
    background-color: #C4C4C4;
    text-align: center;
    border: none;
    margin: 75px auto;
}

.aulas{
    background-color: #F7F7F7;
    padding: 75px;
}

.aulas-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.video-aula {
    width: 462px;
    height: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #8E8E8E;
}

.aulas-resumo{
    width: 500px;
}

.aulas-resumo h2{
    color: #FF4081;
    font-size: 35px;
    font-weight: 700;
}
.aulas-resumo p{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
}